nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.85);
    height: 60px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

    .title {
        display: flex;
        align-items: center;
        font-size: .9rem;
        text-decoration: none;
        color: whitesmoke;

        img {
            &:hover {
                animation: spin 1s linear forwards;
            }
        }
    }

    .links {
        display: flex;
        align-items: center;

        .link {
            margin: 0 10px;
            transition: 0.3s;

            a {
                color: whitesmoke;
                text-decoration: none;
            }

            &:hover {
                text-decoration: underline;
                transform: scale(1.05)
            }
        }
    }
}

.content {
    padding: 20px;
    overflow: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(10deg);
    }

    15% {
        transform: rotate(-10deg);
    }

    20% {
        transform: rotate(0deg);
    }
}