.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    .card {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        margin: 10px;
        min-height: 150px;
        padding: 15px;
        border-radius: 8px;
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        background-color: #ffffff;

        .content {
            margin-top: 10px;
            font-size: 0.95em;
            color: #34495e;
            max-height: 100px;
            overflow: hidden;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                left: 0px;
                right: 0px;
                height: 50%;
                bottom: 0px;
                background: linear-gradient(180deg, rgba(139, 167, 32, 0) 0%, rgba(255, 255, 255, 1) 100%);
                pointer-events: none;
            }
        }

        &.Bug {
            border-left: 5px solid #e74c3c;
        }

        &.UserStory {
            border-left: 5px solid #3498db;
        }

        .assignedTo {
            font-size: 0.9em;
            color: #2c3e50;
        }

        .organization {
            font-size: 0.7em;
            color: #7f8c8d;
            text-align: right;
            margin-top: 5px;
            margin-bottom: -5px;
        }
    }
}